<div class="form-inline float-right w-25">
    <label for="languageSelect" class="mr-2">Select Language</label>
    <select class="form-control form-control-sm" id="languageSelect" name="languageId">
        <option value="" {{#when selectedLanguageId 'eq' ''}}selected{{/when}}>All Languages</option>
        {{#each languages}}
            <option value="{{id}}" {{#when ../selectedLanguageId 'eq' id}}selected{{/when}}>{{language}}</option>
        {{/each}}
    </select>
</div>
