<div class="" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <!-- <h4>Category:
        {{#each genres}}
            {{#when genresId 'eq' id}}
                {{genre}}ccc
            {{/when}}
        {{/each}}
    </h4> !-->
    <a href="/movies" class="btn btn-danger">X</a>
</div>