<div class="form-inline float-right w-25">
    <label for="genreSelect" class="mr-2">Select Genre</label>
    <select class="form-control form-control-sm" id="genreSelect" name="genreId">
        <option value="" {{#when selectedGenreId 'eq' ''}}selected{{/when}}>All Genres</option>
        {{#each genres}}
            <option value="{{id}}" {{#when ../selectedGenreId 'eq' id}}selected{{/when}}>{{genre}}</option>
        {{/each}}
    </select>
</div>
