<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Releases</title>
</head>
<body>
<h1>All Releases</h1>
<ul>
    {{#each releases}}
        <li>
            <strong>Country:</strong> {{country}} <br />
            <strong>Type:</strong> {{type}} <br />
            <strong>Rating:</strong> {{rating}} <br />
            <a href="/releases/{{id}}">View Details</a>
        </li>
        <hr />
    {{/each}}
</ul>
</body>
</html>