<main>
    <section id="carousel-section" class="mt-4">
        {{> movies_carousel }}
    </section>

    <section id="popular-movies" class="container mt-5">
        {{> popular_movies }}
    </section>

    <section id="latest-reviews" class="container mt-5">
        {{> latest_reviews }}
    </section>

    <section id="upcoming-movies" class="container mt-5">
        {{> upcoming_movies }}
    </section>

    <section id="top-rated-movies" class="container mt-5">
        {{> top_rated_movies }}
    </section>

    <section id="latest-news" class="container mt-5">
        {{> latest_news }}
    </section>

    <section id="popular-actors" class="container mt-5">
        {{> popular_actors }}
    </section>

    <section id="join-community" class="container mt-5">
        {{> join_community }}
    </section>
</main>