#movie-background{
    background-color: dimgrey;
    min-width: 100%;
}

#movie-container{
    position: relative;
    height: 40vh;
}

#movie-poster img{
    height: 100%;
    margin: 0 auto;
    display: flex;
    object-fit: contain;
}

#movie-caption div{
    margin-top: 10%;
    text-align: center;
    margin-left: 3%;
}



#movie-actors{
    position: relative;

    max-height: 100vh;
    overflow-y: scroll;
}

#actor-card{

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

#actor{
    background-color: dimgrey;
    color: white;
    display: flex;
}

#actor-image-container img{
    height: 100vh;
    max-width: 30vw;
    aspect-ratio: 1;
    margin-left: 0;
    object-fit: cover;
}

#actor-caption-container{
    margin-top: 10%;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

#carousel-section {
    background-color: #222;
    padding: 20px;
}

#popular-movies .card {
    transition: transform 0.2s;
}

#popular-movies .card:hover {
    transform: scale(1.05);
}

#latest-reviews ul {
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

#movie-reviews {
    position: relative;
    max-height: 100vh;
    overflow-y: scroll;
}

#review-card{
    max-width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#review-card svg{
    color: gold;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 100%;
}

/* Stili generali */
h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Sezione "Prossime Uscite" */
#upcoming-movies .card {
    transition: transform 0.3s;
}

#upcoming-movies .card:hover {
    transform: scale(1.05);
}

/* Sezione "Top Rated Movies" */
#top-rated-movies .card {
    border: 1px solid #ddd;
    transition: transform 0.3s;
}

#top-rated-movies .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sezione "Ultime Notizie" */
#latest-news .list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

#latest-news .list-group-item:hover {
    background-color: #e9ecef;
}

/* Sezione "Attori Popolari" */
#popular-actors .card {
    transition: transform 0.3s;
}

#popular-actors .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sezione "Unisciti alla Community" */
#join-community {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 8px;
}

#join-community h2 {
    color: #007bff;
}

#join-community .btn {
    margin-top: 20px;
}


.navbar .form-control {
    width: 300px;
    max-width: 100%;
}

#movie-results .card, #actor-results .card {
    transition: transform 0.3s;
}

#movie-results .card:hover, #actor-results .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#suggestions {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

#suggestions a {
    text-decoration: none;
    color: black;
}

#suggestions a:hover {
    background-color: #f8f9fa;
}



.custom-card {
    margin-bottom: 20px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    cursor: pointer;
    background-color: #f8f9fa;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.card-body {
    background-color: #ffffff;
    padding: 15px;
}

.card-body a {
    text-decoration: none;
    color: #007bff;
}

.card-body a:hover {
    text-decoration: underline;
}

/*css per le tabelle di statistics*/

.container {
    max-width: 1000px;
    margin: 0 auto;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #343a40;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #dcdcdc;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}




.filters-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.filters-section .form-group {
    margin-bottom: 0;
}

.filters-section .btn {
    margin-left: 1rem;
}

