<!DOCTYPE html>
<html lang="en">
<head>
    <title>Studio Details</title>
</head>
<body>
<h1>Studio Details</h1>
<ul>
    <li><strong>ID:</strong> {{studio.id}}</li>
    <li><strong>Name:</strong> {{studio.name}}</li>
    <li><strong>Location:</strong> {{studio.location}}</li>
    <li><strong>Founded:</strong> {{studio.founded}}</li>
</ul>
<a href="/studios/all">Back to all studios</a>
</body>
</html>