<div class="form-inline float-right w-25">
    <label for="countrySelect" class="mr-2">Select Country</label>
    <select class="form-control form-control-sm" id="countrySelect" name="countryId">
        <option value="" {{#when selectedCountryId 'eq' ''}}selected{{/when}}>All Countries</option>
        {{#each countries}}
            <option value="{{id}}" {{#when ../selectedCountryId 'eq' id}}selected{{/when}}>{{country}}</option>
        {{/each}}
    </select>
</div>
