<!DOCTYPE html>
<html lang="en">
<head>
    <title>Country Details</title>
</head>
<body>
<h1>Country Details</h1>
<ul>
    <li><strong>ID:</strong> {{country.id}}</li>
    <li><strong>Name:</strong> {{country.name}}</li>
    <li><strong>Rating:</strong> {{country.rating}}</li>
</ul>
<a href="/countries/all">Back to all countries</a>
</body>
</html>