<!DOCTYPE html>
<html lang="en">
<head>
    <title>Country Details</title>
</head>
<body>
<h1>Country Details</h1>
<ul>
    <li><strong>ID:</strong> {{country.id}}</li>
    <li><strong>Country:</strong> {{country.country}}</li>
    <li><strong>Date:</strong> {{country.date}}</li> <!-- Example field -->
    <li><strong>Type:</strong> {{country.type}}</li>

</ul>
<a href="/countries/all">Back to all countries</a>
</body>
</html>