<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trending Countries</title>
</head>
<body>
<h1>Trending Countries</h1>
<ul>
    {{#each countries}}
        <li>
            <strong>Country:</strong> {{country}} <br />
            <a href="/countries/{{id}}">View Details</a>
        </li>
        <hr />
    {{/each}}
</ul>
<a href="/countries/all">Back to all countries</a>
</body>
</html>