<table class="table table-striped">
    <thead>
    <tr>
        <th>Position</th>
        <th>Actor</th>
        <th>Number of attendances</th>

    </tr>
    </thead>
    <tbody>
    {{#each actors}}
        <tr>
            <td>{{@index}}</td>
            <td><a href="/actors/id?id={{id}}">{{name}}</a></td>

            <td>{{actor_count}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
