<div class="dropdown" style="margin-bottom: 20px;">
    <button class="btn btn-primary dropdown-toggle" type="button" id="genreDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Scegli un genere
    </button>
    <ul class="dropdown-menu" aria-labelledby="genreDropdown">
        <li><a class="dropdown-item" href="/movies/genres?genresId=1">Comedy</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=2">Adventure</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=3">Thriller</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=4">Drama</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=5">Science Fiction</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=6">Action</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=7">Music</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=8">Romance</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=9">History</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=10">Crime</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=11">Animation</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=12">Mystery</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=13">Horror</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=14">Family</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=15">Fantasy</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=16">War</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=17">Western</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=18">TV Movie</a></li>
        <li><a class="dropdown-item" href="/movies/genres?genresId=19">Documentary</a></li>
    </ul>
</div>
