<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Poster</th>
    </tr>
    </thead>
    <tbody>
    {{#each poster}}
        <tr>
            <td>{{id}}</td>
            <td>{{poster}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>