<h1>Oscars for Film: {{title}}</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Year</th>
        <th>Category</th>
        <th>Winner</th>
    </tr>
    </thead>
    <tbody>
    {{#each oscarsByFilm}}
        {{#each oscars}}
            <tr>
                <td>{{year_film}}</td>
                <td>{{category}}</td>
                <td>{{#if winner}}Yes{{else}}No{{/if}}</td>
            </tr>
        {{/each}}
    {{/each}}
    </tbody>
</table>