<h1>Top {{limit}} Films with Most Nominations</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Film Title</th>
        <th>Total Nominations</th>
    </tr>
    </thead>
    <tbody>
    {{#each topNominatedFilms}}
        <tr>
            <td>{{_id}}</td>
            <td>{{totalNominations}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
