<h1>Top {{limit}} Films with Most Nominations</h1>

<!-- Sezione per il grafico -->
<div class="my-4">
    <canvas id="nominationsChart" width="400" height="200"></canvas>
</div>

<!-- Tabella esistente -->
    <table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Film Title</th>
        <th>Total Nominations</th>
    </tr>
    </thead>
    <tbody>
    {{#each topNominatedFilms}}
        <tr>
            <td>{{_id}}</td>
            <td>{{totalNominations}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<!-- Script per i dati JSON -->
<script id="nominationsData" type="application/json">
    {{{json topNominatedFilms}}}
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/public/javascripts/nominationsChart.js"></script>