<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Theme</th>
    </tr>
    </thead>
    <tbody>
    {{#each themes}}
        <tr>
            <td>{{id}}</td>
            <td>{{theme}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
