<table class="table table-striped table-hover table-condensed table-bordered table-responsive">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Themes</th>

    </tr>
    {{#each themes}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{theme}}</td>

        </tr>
    {{/each}}
</table>
