<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CineReviews</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/movies">Film</a></li>
                    <li class="nav-item"><a class="nav-link" href="/actors">Attori</a></li>
                    <li class="nav-item"><a class="nav-link" href="/news">News</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/channels">Channels</a></li>
                </ul>
                <form class="d-flex" id="search-form">
                    <input
                            class="form-control me-2"
                            type="search"
                            id="search-input"
                            name="query"
                            placeholder="Cerca nel sito..."
                            aria-label="Search"
                            oninput="fetchSuggestions()"
                            required
                    >
                    <button class="btn btn-outline-light" type="submit">Cerca</button>
                    <div id="suggestions" class="list-group position-absolute"></div>
                </form>
            </div>
        </div>
    </nav>
</header>