<section id="latest-news" class="container mt-5">
    <h2 class="text-center">Latest Movie News</h2>
    <div id="news-list" class="list-group scrollable">
        <!-- Le notizie saranno inserite dinamicamente -->
    </div>
    <div class="text-center mt-3">
        <a href="/news" class="btn btn-primary btn-lg">
            Want to read more news?
        </a>
    </div>
</section>