<section id="popular-actors" class="container mt-5">
    <h2>Popular Actors</h2>
    {{#if popularActors.length}}
        <div class="row">
            <div class="col-md-8">
                <canvas id="popularActorsChart" width="400" height="300"></canvas>
            </div>
            <div class="col-md-4">
                <div id="actorDetails" class="card" style="display: none;">
                    <img id="actorPhoto" src="" class="card-img-top" alt="Actor Photo">
                    <div class="card-body">
                        <h5 id="actorName" class="card-title"></h5>
                        <p id="actorPopularity" class="card-text"><strong>Popularity:</strong> <span></span></p>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <p>No popular actors found.</p>
    {{/if}}
</section>