<section id="popular-actors" class="container mt-5">
    <h2 class="text-center">Popular Actors</h2>
    <div class="row">
        <!-- Grafico -->
        <div class="col-md-8">
            <canvas id="actorsChart"></canvas>
        </div>
        <!-- Card dinamica -->
        <div class="col-md-4">
            <div id="actorCard" class="card">
                <img id="actorImage" class="card-img-top" src="" alt="Actor Image">
                <div class="card-body">
                    <!-- Nome come link -->
                    <h5 id="actorName" class="card-title">
                        <a id="actorLink" href="#" class="text-decoration-none"></a>
                    </h5>
                    <p id="actorMovies" class="card-text"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Dati JSON per JavaScript -->
    <script id="actorsData" type="application/json">
        {{{actors}}}
    </script>
</section>