<section id="popular-actors" class="container mt-5">
    <h2 class="text-center">Attori Popolari</h2>
    <div class="row">
        {{#each popularActors}}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{{photo}}" class="card-img-top" alt="{{name}}" onerror="this.src='/public/images/default-actor.jpg'">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <a href="/actors/id?id={{id}}" class="btn btn-primary">Scopri di più</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>