<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
<ul>
    {{#each genres}}
        <li>{{genre}}: {{movie_count}} movies</li>
    {{/each}}
</ul>
</body>
</html>
